BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;
IOBUF PORT "Y[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Y[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Y[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[0]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[1]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[2]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[4]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[5]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[6]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "X[7]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "Y[3]" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "data" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "pclk" IO_TYPE=LVCMOS33 PULLMODE=NONE ;
IOBUF PORT "RSTb" IO_TYPE=LVCMOS33 PULLMODE=UP HYSTERESIS=SMALL ;
LOCATE COMP "RSTb" SITE "26" ;
LOCATE COMP "X[0]" SITE "13" ;
LOCATE COMP "X[1]" SITE "14" ;
LOCATE COMP "X[2]" SITE "16" ;
LOCATE COMP "X[3]" SITE "17" ;
LOCATE COMP "X[4]" SITE "12" ;
LOCATE COMP "X[5]" SITE "11" ;
LOCATE COMP "X[6]" SITE "10" ;
LOCATE COMP "X[7]" SITE "9" ;
LOCATE COMP "Y[0]" SITE "5" ;
LOCATE COMP "Y[1]" SITE "4" ;
LOCATE COMP "Y[2]" SITE "27" ;
LOCATE COMP "Y[3]" SITE "28" ;
LOCATE COMP "pclk" SITE "21" ;
LOCATE COMP "data" SITE "20" ;
